<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Startend App</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>startend_app</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	

	
	<!-- Google Sign-In and Apple Sign-In URLスキーム設定 -->
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>REVERSED_CLIENT_ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.201575475230-svv1pj7cc7n95t122lu1imp65iqhrp55</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Apple Sign-In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
	</array>
	
	<!-- Google Sign-In configuration -->
	<key>GIDClientID</key>
	<string>201575475230-5eg466psfpgd55kpmcafhlp3ok7a230i.apps.googleusercontent.com</string>
	
	<!-- Google Sign-In additional configuration -->
	<key>GIDServerClientID</key>
	<string>201575475230-b626ctmas0d2rocgpkr1hdnbtmpmnh0r.apps.googleusercontent.com</string>
	
	<!-- Apple Sign-In configuration -->
	
	<!-- 通知とバックグラウンド処理のための設定 -->
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlegmail</string>
		<string>googlemail</string>
		<string>youtube</string>
		<string>googledrive</string>
		<string>googlephotos</string>
		<string>googleearth</string>
		<string>googletranslate</string>
		<string>googleplus</string>
		<string>googlechrome</string>
		<string>googlechromes</string>
		<string>https</string>
		<string>http</string>
	</array>
	<!-- AdMob設定 -->
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3940256099942544~3347511713</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
	
	<!-- 暗号化使用の明記 -->
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
